In [1]:
import pymysql

In [3]:
mydb=pymysql.connect(
 host="localhost",
 port= 3306,
 user="root",
 password="1234"
)
mycursor=mydb.cursor()

In [4]:
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('employee_details',)
('employee_details2',)
('hotel_reservation_system',)
('information_schema',)
('mysql',)
('oxforduni',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [5]:
mycursor.execute("create database loan_request_managment_system")
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('employee_details',)
('employee_details2',)
('hotel_reservation_system',)
('information_schema',)
('loan_request_managment_system',)
('mysql',)
('oxforduni',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [10]:
mycursor.execute("use loan_request_managment_system")
mycursor.execute("create table customer_details(name varchar(200) not null, gender varchar(40) not null, name_of_guarantor varchar(200) not null, dob int not null, annual_income int not null, purpose_of_loan varchar(200) not null, email text not null,phone_number int not null, address varchar(200) not null)")
mycursor.execute("show columns from customer_details")
for x in mycursor:
    print(x)

OperationalError: (1050, "Table 'customer_details' already exists")

In [33]:
def customerinfo():
    name=input("enter your full name:")
    gender=input("enter your gender(male/female/other):")
    name_of_guarantor=input("guarantor name:")
    dob=input("enter student date of birth(yyyy-mm-DD):")
    annual_income=int(input("annual earning:"))
    purpose_of_loan=input("purpose:")
    email=input("personal email:")
    phone_number=input("contact:")
    address=input("address:") 
                     
    guery="insert into customer_details(name,gender,name_of_guarantor,dob,annual_income,purpose_of_loan,email,phone_number,address)value(%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    mycursor.execute(query,(name,gender,name_of_guarantor,dob,annual_income,purpose_of_loan,email,phone_number,address))
    mydb.commit() 
    print("congratulation loan approved.....") 
      
def loan_status():
        option=input("what is your occupation.[student,self_employed,retired,unemployed]")
        if option=="student":
            print("you are eligible for a $1000")
        elif option=="self_employed":
            print("you are eligible for the amounted loan")
        elif option=="retired":
            print("you are qualified")
        elif option=="unemployed":
            print("sorry you are not eligible")
                     
def main():            
            print("<<<<< Welcome to nigeria loan grant >>>>>")
            print("occupation option[student,self_employed,retired,unemployed]")
            occupation= True
            while occupation:
                        option=input("occupation option:")
                        if option == "student".lower():
                            loan_status()
                        elif option == "self_employed".lower():
                            loan_status()
                        elif option == "retired".lower():
                            loan_status()
                        elif option == "unemployed".lower():
                            loan_status()
                            occupation=false
                            print("access denied......")
                            break

In [ ]:
customerinfo()